body {
  font-family: 'Open Sans', sans-serif;
}


.anuncio {
  background-color: #4e4e4e;
  height: 45px;
}


.anuncio p {
  color: #ffffff;
  font-size: 18px;
  white-space: nowrap;
}

.navbar{
  padding: 0.5rem;
  background-color: #f3f5f6;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  font-size: 20px;
}
.navbar-nav li a {
  margin-left: 100px;
}

.footer{
  background-color: #4F4E4E;
}

.footer-pie{
  color: #ffffff;
}

.footer-text-1 {
  font-size: 18px;
  
}

.footer-text-2 {
  font-weight: bold;
  font-size: 25px;
  margin-top: 30px;
}

.footer-text-3 {
  font-size: 18px;
}

.footer-text-4{
  font-weight: bold;
}

.footer-text-5{
  font-size: 50px;
  margin: 5px;
}

.footer-text-6{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin: 0 40px;
}

.img-fluid{
  max-width: 300px; 
  width: 256px;
  height: 77px;
  margin-left: 30px;
}
.navbar {
  background-color: #f3f5f6 !important;
}

.navbar-nav li a {
  color: #000000;
  font-weight: bold;
}

nav {
  margin-bottom: 1em;
}

.my-jumbotron{
  padding-top: 0.5em;
  background-color: #4E4E4E;
  height: 3em;
}
.my-jumbotron p {
  color: #ffffff;
}

.my-container img{
  max-width: 100%;
  height: auto; 

}

.h1{
  color: #12133b;
  font-weight: bold;
  margin-top: 3.0em;
}

.h6 {
  color: #12133b;
  margin-top: 2.0em;
}

.text-2 {
  font-weight: bold;
  color: #12133b;
  margin-top: 2.0em;
  margin-bottom: 1.0em;
}

.text-3 {
  color: #12133b;
  
}

.title-form {
  text-align: center;
  font-weight: bold;
  color: #12133b;
}

.sub-form {
  text-align: center;
  color: #12133b;  
}

.form label{
  font-weight: bold;
  color: #12133b;
}

.product-form {
  margin-left: 1.5em;
}

.btn {
  align-items: center;
}

.btn-form {
  margin-top: 1.0em;
}

.con{
  margin-top: 3.0em;
}

.nombre{
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

.mensaje{
  margin-top: 1.0em;
} 

.h4-footer{
  color: #000000;
}

.container-fluid {
  background-color: #c4c4c4;
  margin-top: 5.0em;  
}