body {
  font-family: 'Open Sans', sans-serif;
}

.h1{
  font-size: 70px;
}
.navbar-nav .nav-link {
  font-size: 18px;
  margin: 0 40px;
}

.texto{
  font-size: 30px;
  color: #ffffff;
}

.img-fluid{
  max-width: 300px; 
  width: 256px;
  height: 77px;
  margin-left: 30px;
}
.navbar {
  background-color: #f3f5f6 !important;
}

.navbar-nav li a {
  color: #000000;
  font-weight: bold;
}
nav {
  margin-bottom: 1em;
}
.bannerImg{
  width: 100%;
}  
.my-jumbotron{
  padding-top: 0.5em;
  background-color: #4E4E4E;
  height: 3em;
}
.my-jumbotron p {
  color: #ffffff;
}

.my-container img{
  max-width: 100%;
  height: auto; 

}

.banner div {
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%)
}

.banner div .h1 {
  color: #ffffff;

}

.banner div .h5 {
  margin-top: 10px;
  color: #ffffff;
  

}

.banner {
  margin-bottom: 1.5em;
}

.text-margin {
  margin-top: 2.0em;
}

.my-container-col a {
  cursor: pointer;
  text-decoration: none;
}

.my-container-col p {
  color: #000000;
}

.my-container-col img{
  width: 250px;
  height: auto;
  transition: transform 0.3s ease;
}

.my-container-col img:hover {
  transform: scale(1.1);

}

.my-container-col .h3 {
  font-weight: bold;
  margin-left: 0.5em;
  margin-bottom: 1.5em;
}

.my-container-col .text-center {
  margin-top: 1.0em;
  font-weight: bold;
}

.colecciones {
  display: flex;
  justify-content: center;
}

.image-colecciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.colecciones div img {
  width: 275px;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.5s;
  transition: transform 0.5s;
}

.colecciones div img:hover{
  opacity: 0.5;
  transition: transform 1s;
  transform: scale(1.2);
} 

.colecciones div p {
  margin: 25px;
  font-weight: bold;
  font-size: 20px;
}

.banner2 {
  margin-top: 2.0em;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.text-banner2 p{
  text-align: center; 
  color: #18193d;
  font-weight: bold;
  font-size: 60px;
}

.text-banner2 span{
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  display: block;
  align-items: center;
}

.text-banner2 button{
  color: #000000; /* para darle color al texto del botón */
  border: solid 2px ; /* para quitar el borde al botón */
  padding: 15px 70px; /* para darle espacio al texto del botón */
  text-align: center; /* para centrar el texto del botón */
  cursor: pointer; /* para cambiar el cursor al pasar sobre el botón */
  background-color: #ffffff;
  font-size: 20px;
  margin-top: 2.0em;
}


.image-banner2 {
  width: 990px;
  height: 600px;
  }

.image-banner2 img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.banner3 {
  display: flex; 
  flex-direction: row-reverse;
  align-items: center; 
  justify-content: center; 
}

.text-banner3 p{
  text-align: center; 
  color: #18193d;
  font-weight: bold;
  font-size: 40px;
}

.text-banner3 span{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
  display: block;
  align-items: center;
}

.text-banner3 button{
  color: #000000; /* para darle color al texto del botón */
  border: solid 2px ; /* para quitar el borde al botón */
  padding: 15px 70px; /* para darle espacio al texto del botón */
  text-align: center; /* para centrar el texto del botón */
  cursor: pointer; /* para cambiar el cursor al pasar sobre el botón */
  background-color: #ffffff;
  font-size: 20px;
  margin-top: 2.0em;
}


.image-banner3 {
  width: 1000px;
  height: 600px;
}

.image-banner3 img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
}



.h4-footer{
  color: #000000;
}

footer{
  margin-top: 50px;
  background-color: #c4c4c4;
  width: 100%;
  height: 390px;
}
.imgfooter{
  height: 80px;
  margin-right: 60%;
}
.footerColumna{
  width: 30%;
  height: 240px;
  font-size: 22px;
  text-align: center;
  color:#424242;
}
.linea{
  height: 2px;
  width: 90%;
  margin: 10px;
  margin-top: 1.5em;
}
.novedad{
  text-decoration: none;
  font-weight: bold;
  color: #000000; /* para darle color al texto del botón */
  border: solid 2px #ffffff; /* para quitar el borde al botón */
  padding: 15px 70px; /* para darle espacio al texto del botón */
  text-align: center; /* para centrar el texto del botón */
  cursor: pointer; /* para cambiar el cursor al pasar sobre el botón */
  font-size: 20px;
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}
#copyR{
  height: 55px;
  font-size: 25px;
  text-align: center;
  padding: 10px 0px;
}

.footerColumna a {
  cursor: pointer;
}